.mat-card{
  padding: 1rem;
  position: relative;
  img{
    object-fit: cover;
    max-height: calc(100vh - 5rem);
  }
  .img-text{
    position: absolute;
    top: 10%;
    right: 20%;
    h1{
      margin: 0;
      font-size: 2rem;
    }
    button{
      margin: 1rem 0;
    }
  }
}
